@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html lang="en">
<head>

</head>




<div class="container-fluid">
    ​​<div class="container">
        <div class="jumbotron">
            <h1 align="center">Upcoming Fixtures</h1>
            <html>
            <head>
                <script>
                    function disable() {
                        document.getElementById("mySelect").disabled = true;
                    }
                    function enable() {
                        document.getElementById("mySelect").disabled = false;
                    }
                </script>
            </head>
            <body>

                <form>
                    <select id="mySelect">
                        <option>St Johnstone 6/12/20</option>
                        <option>Hearts 20/12/20</option>
                        <option>Kilmarnock 13/12/20</option>
                        <option>Ross County 23/12/20</option>
                        <option>Livingston 17/1/21</option>
                        <option>Motherwell 8/11/20</option>
                        <option>Hibernian 21/11/20</option>
                    </select>
                    <br><br>

                </form>

            </body>
        </html>



    </div>

</div>

<div class="row">
    <div class="col-sm-7" style="background-color:lavender;">
        <h2 style="color: #888888; ">Honours</h2>
        <h3 style="color: #808080; ">European Cup: 1966-67, UEFA Cup Runners up: 2002-3, Scottish League: 50 times, Scottish Cup: 39 times, League Cup: 18 times</h3>

        <div class="container-fluid">
            <div class="row">



                <div class="col-sm-8" style="background-color:lavender;"><iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=CelticPark&key=AIzaSyBdV7YjR4X3XOEbKVgSDIjOH7Viqn3mGrM" allowfullscreen></iframe></div>



                <div class="col-sm-4" style="background-color:#a6f5a6;"><h2>Official Celtic Address</h2>The Celtic Football Club, Celtic Park, Glasgow, G40 3RE, Scotland, Tel: +44 (0) 871 226 1888 *</div>
                <div class="col-sm-4" style="background-color:#a6f5a6;"><h2></h2></div>
                <div class="col-sm-4" style="background-color:#a6f5a6;"><h2>Supporters' Club Location</h2>Come visit our Supporters Club in Tallaght Celtic have supporters and supporters' groups and organisations across the globe. Where ever you find yourself it's likely there will be a supporters' club nearby. Contact the following organizations to find details of their member clubs: </div>
                <div class="col-sm-4" style="background-color:#a6f5a6;"><h2></h2></div>
            </div>
        </div>
    </div>



    <div class="col-sm-5" style="background-color:#a6f5a6;">
        <h2 align="center">The Founder and Manager</h2><hr> <div class="container">
            <div class="col-sm-6" style="background-color:lavender;">
                <div class="container">
                </div>

                <h2 style="color: #888888; ">Quotes</h2>
                <blockquote>
                    <p class="text-success">"I love playing with these guys. It makes my job easier out there. It would be great if we could all stay."</p>
                    <footer>Neil Lennon</footer>
                </blockquote>
                <blockquote>
                    <p class="text-success">"Our work is the presentation of our capabilities."</p>
                    <footer>Brother Walfrid</footer>
                </blockquote>
            </div>
        </div>
    </div>



    <div class="container-fluid" style="background-color:#a6f5a6;">
        <div class="col-sm-12" style="background-color:#a6f5a6;"><h2></h2></div>
        <h1 align="center">Celtic Welcome All Nationalities and Religions</h1>
        <p align="center">#Show Racism the Red Card</p>
        <p align="center">#Black Lives Matter</p>
        <p align="center">#Stay Safe and Stay at Home!</p>





        <div class="row">
            <div class="col-sm-3" style="background-color:lavender;">
                <blockquote>
                    <p class="text-success">"50 Trophy's! c'mon the Bhoys"</p>
                    <footer>The Independent</footer>
                </blockquote>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <blockquote>
                    <p class="text-success">"Best fans in the world! Up the Hoops"</p>
                    <footer>Daily Mail</footer>
                </blockquote>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <blockquote>
                    <p class="text-success">"Best Club"</p>
                    <footer>The Irish Times</footer>
                </blockquote>
            </div>
            <div class="col-sm-3" style="background-color:lavender;">
                <blockquote>
                    <p class="text-success">"Playing for a community and a cause"</p>
                    <footer>The Sun</footer>
                </blockquote>
            </div>
        </div>
    </div>



</div>
</body>
</html>
